<!DOCTYPE html>
<html>
  <head>
    <title>VirtualRig</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-md"> 
      <%= render 'shared/menu' %>
      <% flash.each do |key , value| %>
        <%= tag.div value, class: "alert alert-success #{key} my-3", role: 'alert' %>
      <% end %>     
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>  

  </body>
  </body>
</html>
